<form action="/admin/add-post" method="POST">
    <div>
        <label for="title"><b>title</b></label>
        <input type="text" placeholder="post title" name="title">  
    </div>

    <div>
        <label for="body"><b>body:</b></label>
        <textarea name="body" cols="50" rows="10"></textarea>
    </div>
    <button type="submit">add post</button>
</form>