<form action="/admin/add-post" method="POST">
    <div>
        <label for="title"><b>Title</b></label>
        <input type="text" placeholder="Post title" name="title" required>
    </div>
    <div>
        <label for="body"><b>Body</b></label>
        <textarea name="body" cols="50" rows="10" required></textarea>
    </div>
    <div>
        <label for="channel">Channel:</label>
        <select name="channel" id="channel" required>
            <% channels.forEach(channel => { %>
                <option value="<%= channel.name %>"><%= channel.name %></option>
            <% }) %>
        </select>
    </div>
    <button type="submit">Add Post</button>
</form>
