<form action="/add-post" method="POST">
    <div>
        <label for="title"><b>title</b></label>
        <input type="text" placeholder="post title" name="title">  
    </div>

    <div>
        <label for="body"><b>body:</b></label>
        <textarea name="body" cols="50" rows="10"></textarea>
    </div>

    <div>
        <label for="channel">channel:</label>
        <select name="channel" id="channel" required>
            <% channels.forEach(channel => { %>
                <option value="<%= channel._id %>"></option>
            <% }) %>
        </select>
    </div>
    <button type="submit">add post</button>
</form>