<h2 class="captions">latest posts</h2>
<ul class="dash-posts">
    <% data.forEach(post => { %>
        <li class="dash-li">
            <p class="dash-channel"><a class="dash-a" href="/admin/channels/<%= post.channel.name %>"><%= post.channel.name %></a></p>
            <p class="dash-post"><%= post.body %></p>
            <p><%= post.createdAt %></p>
            <hr>
        </li>
    <% }) %>
</ul>
