<h2 class="captions">latest posts</h2>
<ul class="dash-posts">
    <% data.forEach(post => { %>
        <li class="dash-li">
            <p><a class="dash-a" href="/admin/channels/<%= post.channel.name %>"><%= post.channel.name %></a></p>
            <p class="dash-post"><%= post.body %></p>
            <p class="date-dash"><%= moment(post.createdAt).format('MM/DD/YYYY hh:mm A') %></p>
            <hr>
        </li>
    <% }) %>
</ul>
