<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title  %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://kit.fontawesome.com/541629fd61.js" crossorigin="anonymous"></script>
    <script type="text/javascript" defer src="/js/script.js"></script>
</head>
<body class="dashboard">
    <nav>
        <h2 class="logo-nav">
            pixel
        </h2>
        <a href="/admin/dashboard" class="nav-link">dashboard</a>
        <a href="/admin/logout" class="nav-link">logout</a>
    </nav>
    
    <div class="container">
        <h2 class="captions">channels</h2>
        <div class="sidebar">
            <ul>
                <li class="sidebar-li"><a href="/admin/channels/Nintendo" class="channels">Nintendo</a></li>
                <li class="sidebar-li"><a href="/admin/channels/Playstation" class="channels">Playstation</a></li>
                <li class="sidebar-li"><a href="/admin/channels/PC" class="channels">PC</a></li>
                <li class="sidebar-li"><a href="/admin/channels/Xbox" class="channels">Xbox</a></li>
            </ul>
        </div>
    </div>
    

    <div class="container wide-container">
        <%- body %>
    </div>
    
    <footer>
        &copy; erica penaflor | 2024
    </footer>
</body>
</html>