<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title  %></title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" defer src="/js/script.js"></script>
</head>
<body>
    <nav>
        <header>header</header>
        <a href="/admin/dashboard">dashboard</a>
        <a href="/admin/logout">logout</a>
    </nav>
    
    <div class="container">
        <div class="sidebar">
            <h2>channels</h2>
            <ul>
                <li><a href="/admin/channels/Nintendo">Nintendo</a></li>
                <li><a href="/admin/channels/Playstation">Playstation</a></li>
                <li><a href="/admin/channels/PC">PC</a></li>
                <li><a href="/admin/channels/Xbox">Xbox</a></li>
            </ul>
        </div>
    </div>
    

    <div>
        
        <%- body %>

        <footer>footer</footer>
    </div>
</body>
</html>