<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pixel</title>
</head>
<body>
    <div class="container-home">
        <p class="p-home">
            welcome to pixel! join our community of gamers where we share tips, tricks, ask questions, and share new things!
        </p>
    </div>
    <div class="container-home">
        <p class="p-home">
            ready to join the conversation?
        </p>
        <p>
        <button class="sign-btn"><a href="/login" class="home-link">login</a></button>
        or
        <button class="sign-btn"><a href="/register" class="home-link">register</a></button>
        </p>
    </div>
    
</body>
</html>