<h2 class="login-register">login</h2>
<% if (messages && messages.length > 0) { %>
    <div class="alert alert-danger">
        <% messages.forEach(message => { %>
            <p><%= message %></p>
        <% }) %>
    </div>
<% } %>
<form action="/admin/login" method="POST">
    <div class="login-input">
        <input type="text" placeholder="username" id="username" name="username" required></input>
    </div>

    <div class="login-input">
        <input type="password" placeholder="password" id="password" name="password" required></input>
    </div>

    <button class="sign-btn" type="submit">login</button>
</form>
<a href="/register" class="reg-log">register</a>
