<h2>login</h2>
<form action="/admin/login" method="POST">
    <div>
        <label for="username">username</label>
        <input type="text" id="username" name="username" required></input>
    </div>

    <div>
        <label for="password">password</label>
        <input type="password" id="password" name="password" required></input>
    </div>

    <button type="submit">login</button>
</form>
<a href="/register">register</a>
