<h2 class="login-register">login</h2>
<% if (messages && messages.length > 0) { %>
    <div class="alert alert-danger">
        <% messages.forEach(message => { %>
            <p><%= message %></p>
        <% }) %>
    </div>
<% } %>
<form action="/admin/login" method="POST">
    <div class="login-input">
        <input type="text" placeholder="username" id="username" name="username" required></input>
    </div>

    <div class="login-input">
        <input type="password" placeholder="password" id="password" name="password" required></input>
    </div>

    <button class="sign-btn" type="submit">login</button>
</form>
<a href="/register" class="reg-log">register</a>

<script>
    document.getElementById('login-form').addEventListener('submit', async (event) => {
        event.preventDefault();
        
        const formData = new FormData(event.target);
        const formDataObject = Object.fromEntries(formData.entries());
        
        try {
            const response = await fetch('/admin/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formDataObject)
            });
    
            if (response.ok) {
                window.location.href = '/admin/dashboard';
            } else {
                const errorData = await response.json();
                alert(errorData.message);
            }
        } catch (error) {
            console.error('Error during login:', error);
            alert('An error occurred. Please try again.');
        }
    });
    </script>
